body {
  font-family: "Avenir Next", sans-serif;
  background: #E1E5EB; }

.hci-cards.flickerplate {
  width: 100%;
  max-width: 800px;
  height: 100%;
  border-radius: 4px;
  margin: 0 auto;
  background: #fff; }
  .hci-cards.flickerplate ul.flicks > li .flick-title {
    color: #0096FF;
    font-size: 2.5em; }
  .hci-cards.flickerplate ul.flicks > li .flick-sub-text {
    color: #5A6779;
    text-align: left;
    font-size: 2em; }
