// Primary Color

$blue-dark  : #0165AC;
$blue       : #0096FF;
$blue-light : #60BBFB;
$blue-fade  : #D2ECFF;

$green-dark  : #589D5E;
$green       : #4ACD54;
$green-light : #8BE391;
$green-fade  : #E8FFEA;

$orange-dark  : #C18230;
$orange       : #FF9100;
$orange-light : #FFBB60;
$orange-fade  : #FDF8E6;

$red-dark  : #BA3F24;
$red       : #E75A3A;
$red-light : #EC937E;
$red-fade  : #FFF4F2;


// Gray Color

$gray-dark-dd  : #30343A;
$gray-dark-d   : #5A6779;
$gray-dark     : #8E9AA9;
$gray          : #B4BECA;
$gray-light    : #E1E5EB;
$gray-light-l  : #F2F4F6;
$gray-light-ll : #F9FAFB;
$gray-light-fa : #FAFAFA;