@import "color";

body {
  font-family : "Avenir Next", sans-serif;
  background  : $gray-light;
}

.hci-cards.flickerplate {
  width         : 100%;
  max-width     : 800px;
  height        : 100%;
  border-radius : 4px;
  margin        : 0 auto;
  background    : #fff;

  ul.flicks>li .flick-title {
    color     : $blue;
    font-size : 2.5em;
  }

  ul.flicks>li .flick-sub-text {
    color      : $gray-dark-d;
    text-align : left;
    font-size  : 2em;
  }
}